<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349706854240-fvnooiu4libk7o52ip0khuokihm2q3ov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349706854240-fvnooiu4libk7o52ip0khuokihm2q3ov</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>349706854240-ol87g1kud0grdsb4q5vs02v8h85v2d6l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbVNrsjv0g0_cwikEhznLK8iUVVlIClxY</string>
	<key>GCM_SENDER_ID</key>
	<string>349706854240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digitaldeyim.app</string>
	<key>PROJECT_ID</key>
	<string>digitaldeyim</string>
	<key>STORAGE_BUCKET</key>
	<string>digitaldeyim.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349706854240:ios:01a98dbef0f3ffe2bb4805</string>
</dict>
</plist>